# =========================
# Python
# =========================
myenv/
myenv311/
venv/
__pycache__/
*.pyc

# =========================
# Environment Variables
# =========================
.env

# =========================
# Node Modules
# =========================
node_modules/

# =========================
# Build Files
# =========================
dist/
build/

# =========================
# Logs
# =========================
*.log

# =========================
# Mac Files
# =========================
.DS_Store

# =========================
# Dataset / Training Files
# =========================
dataset/
*.zip
*.jpg
*.jpeg
*.png

# =========================
# Jupyter / Colab
# =========================
.ipynb_checkpoints/

# =========================
# TensorFlow Cache
# =========================
*.h5

# =========================
# VS Code
# =========================
.vscode/